{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
{% load static %}

<!-- Background Image -->
<div class="min-vh-100 d-flex align-items-center justify-content-center" style=" no-repeat center center/cover;">
    <div class="bg-dark bg-opacity-75 p-4 p-md-5 rounded-4 shadow-lg text-white" style="backdrop-filter: blur(10px); width: 90%; max-width: 500px;">

        <h2 class="text-center mb-4">Login!</h2>

        {% if err %}
        <div class="alert alert-success" role="alert">
            {{ err }}
        </div>
        {% endif %}

        {% if msg %}
        <div class="alert alert-danger" role="alert">
            {{ msg }}
        </div>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input name="email" type="email" class="form-control bg-light text-dark" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input name="password" type="password" class="form-control bg-light text-dark" id="password" required>
            </div>
            <div class="form-check mb-4">
                <input class="form-check-input" type="checkbox" id="rememberme">
                <label class="form-check-label" for="rememberme">
                    Remember Me
                </label>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-warning fw-bold">LOGIN</button>
                <a href="{% url 'register' %}" class="btn btn-outline-light">REGISTER</a>
                <button type="reset" class="btn btn-secondary">RESET</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
